name: Deploy Lovable via FTP na Kinghost

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v3

      - name: Configurar Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar dependências
        run: npm install

      - name: Build do projeto
        run: npm run build

      - name: Mostrar arquivos gerados
        run: ls -al dist/
      - name: Deploy SSH Kinghost
      # uses: easingthemes/ssh-deploy@main
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY}}
      
      - name: (Finally) Deploy to Kinghot
        run: |
          ssh -v ${{ secrets.SSH_OPTS }} ${{ secrets.RIC_USER }}
          cd www
          git pull
          npm ci
          npm run build
          npm run start
          caddy run
