name: Deploy Lovable via FTP na Kinghost

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar o repositório
        uses: actions/checkout@v3

      - name: Configurar Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Instalar dependências
        run: npm install

      - name: Build do projeto
        run: npm run build

      - name: Mostrar arquivos gerados
        run: ls -al dist/
      - name: Deploy SSH Kinghost
        uses: easingthemes/ssh-deploy@main
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          REMOTE_HOST: ${{ secrets.FTP_HOST }} # Hostname or IP of your server
          REMOTE_USER: ${{ secrets.FTP_USER }} # User on the remote server
          TARGET: /home/cenat/www # Target directory on the remote server
          SOURCE: dist/ # Source directory to deploy (e.g., your build output)
          ARGS: "-avz --delete" # Rsync arguments (e.g., archive, verbose, compress, delete extraneous files)
          SCRIPT_AFTER: |
              # Optional: Commands to run after deployment
              echo "Deployment complete!"
              sudo systemctl restart nginx # Example: Restart a service
